@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS 파일에 font-face 설정 */

@font-face{
  font-family: 'moneygraphy';
  src: url("/fonts/moneygraphy.ttf");
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
